# Mod_Autoindex
<IfModule mod_autoindex.c>
    # Disable Indexes
    Options -Indexes
</IfModule>

# Mod_Rewrite
<IfModule mod_rewrite.c>
    Options +FollowSymLinks
#    IndexIgnore */*
#    # Enable mod_rewrite
    RewriteEngine On
    RewriteBase /

    #no end slesh
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^(.+)/$ [NC]
    RewriteRule ^(.+)$ $1/ [R=301]

    # Backend redirect
    # Если backend запрос
    RewriteCond %{REQUEST_URI} ^/admin
    RewriteRule ^admin(.*)$ /backend/web/$1 [L]

    # Statics redirect
#    RewriteCond %{REQUEST_URI} ^/phpm
#    RewriteRule ^phpm/(.*)$ phpm/$1 [L]

    # Frontend redirect
    RewriteCond %{REQUEST_URI} ^/frontend$
    RewriteRule ^(.+)$ /frontend/web/shop/index [L]

    # все не существующие url адреса направляем на /frontend
#    RewriteCond %{REQUEST_FILENAME} !-d [OR]
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteRule ^(.*)$ /frontend/web
</IfModule>